## Final Project Submission

Please fill out:
* Student name: Sabina Bains
* Student pace: self paced
* Scheduled project review date/time: 
* Instructor name: Claude Fried
* Blog post URL:

In [9]:
# Import Standard Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

Notes:

imdb variable explanation: https://www.imdb.com/interfaces/

In [10]:
#Viewing and changing filenames for easier file importing

filenames = os.listdir('/Users/sabinabains/Desktop/dsci/Phase1/Phase1Project/dsc-phase-1-project/zippedData')
fullname = []

for file in filenames:
    fullname.append('zippeddata/'+file)
    
fullname

['zippeddata/imdb.title.crew.csv.gz',
 'zippeddata/imdb.title.basics.tsv.gz',
 'zippeddata/tmdb.movies.csv.gz',
 'zippeddata/imdb.title.akas.csv.gz',
 'zippeddata/imdb.title.ratings.csv.gz',
 'zippeddata/imdb.name.basics.csv.gz',
 'zippeddata/rt.reviews.tsv.gz',
 'zippeddata/imdb.title.basics.csv.gz',
 'zippeddata/rt.movie_info.tsv.gz',
 'zippeddata/tn.movie_budgets.csv.gz',
 'zippeddata/bom.movie_gross.csv.gz',
 'zippeddata/imdb.title.principals.csv.gz']

In [5]:
# Creating a function to describe each data set

def df_summary(df,list_num):
    print('''This dataset is called {}
It has {} rows
and {} duplicates

Columns present and N/A values are:
{}

Description:
{}

Data Preview:
{}
    '''.format(fullname[list_num][11:][:-7],len(df),len(df[df.duplicated()]),df.isna().sum(),df.describe(),df.head()))

In [28]:
imdb_crew = pd.read_csv(fullname[0])
df_summary(imdb_crew,0)

# print('''This dataset has a lot of NA columns, especially for the writers. Not sure how valuable this data will be yet.''')

This dataset is called imdb.title.crew
It has 146144 rows
and 0 duplicates

Columns present and N/A values are:
tconst           0
directors     5727
writers      35883
dtype: int64

Description:
           tconst  directors    writers
count      146144     140417     110261
unique     146144      98525      91920
top     tt1996226  nm3266654  nm0000636
freq            1         62         80

Data Preview:
      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [12]:
movies = pd.read_csv(fullname[2])
df_summary(movies,2)


print("""The Movie Database - has an API. This dataset looks valuable. it has no missing data and popularity / votes for each movie.
Also has a genre ID, can we map it to something to answer the business question?""")

This dataset is called tmdb.movies
It has 26517 rows
and 0 duplicates

Columns present and N/A values are:
Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

Description:
        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

Data Preview:
   Unnamed: 0            genre_ids     id original_language  \
0           0      [12, 14, 10751]  12444                en
1           1  [14, 12, 16, 10751]  10191                en
2           2        [12, 28, 878]  10138                en
3           3      [16, 35, 10751]    862                en
4           4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186

The Movie Database - has an API. This dataset looks valuable. it has no missing data and popularity / votes for each movie.
Also has a genre ID, can we map it to something to answer the business question?

In [13]:
akas = pd.read_csv(fullname[3])
df_summary(akas,3)

print('''Lots of N/As. Looks like a dataset for whether a title is original or not. Maybe can cross check these
at the end of the analysis to exlude anything that isn't original?''')
# akas.loc[akas['is_original_title']==1]

This dataset is called imdb.title.akas
It has 331703 rows
and 0 duplicates

Columns present and N/A values are:
title_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64

Description:
            ordering  is_original_title
count  331703.000000      331678.000000
mean        5.125872           0.134769
std         6.706664           0.341477
min         1.000000           0.000000
25%         1.000000           0.000000
50%         2.000000           0.000000
75%         6.000000           0.000000
max        61.000000           1.000000

Data Preview:
    title_id  ordering                                    title region  \
0  tt0369610        10                            Джурасик свят     BG
1  tt0369610        11                        Jurashikku warudo     JP
2  tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR
3  tt0369610        13                  O Mundo dos Dinossauros     BR
4  tt0369610        14                           Jurassic World     FR

  language        types   attributes  is_original_title
0       bg          NaN          NaN                0.0
1      NaN  imdbDisplay          NaN                0.0
2      NaN  imdbDisplay          NaN                0.0
3      NaN          NaN  short title                0.0
4      NaN  imdbDisplay          NaN                0.0

Lots of N/As. Looks like a dataset for whether a title is original or not. Maybe can cross check these
at the end of the analysis to exlude anything that isn't original?

In [7]:
ratings = pd.read_csv(fullname[3])
df_summary(ratings,3)

print('''No N/A values to remove. looks like 'tconst' is a unique title ID that we will need to map.
dataset looks useful with 'averagerating' and 'numvotes' ''')

This dataset is called imdb.title.ratings
It has 73856 rows
and 0 duplicates

Columns present and N/A values are:
tconst           0
averagerating    0
numvotes         0
dtype: int64

Description:
       averagerating      numvotes
count   73856.000000  7.385600e+04
mean        6.332729  3.523662e+03
std         1.474978  3.029402e+04
min         1.000000  5.000000e+00
25%         5.500000  1.400000e+01
50%         6.500000  4.900000e+01
75%         7.400000  2.820000e+02
max        10.000000  1.841066e+06

Data Preview:
       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

No N/A values to remove. looks like 'tconst' is a unique title ID that we will need to map.
dataset looks useful with 'averagerating' and 'numvotes'

In [8]:
people = pd.read_csv(fullname[4])
df_summary(people,4)

print('''Birth/Death year doesn't seem to be relevant and have many null columns. 
Not yet sure how / if we will use this data''')

This dataset is called imdb.name.basics
It has 606648 rows
and 0 duplicates

Columns present and N/A values are:
nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64

Description:
         birth_year   death_year
count  82736.000000  6783.000000
mean    1967.043826  2000.523367
std       22.122190    43.951530
min        1.000000    17.000000
25%     1957.000000  2001.000000
50%     1971.000000  2013.000000
75%     1981.000000  2016.000000
max     2014.000000  2019.000000

Data Preview:
      nconst       primary_name  birth_year  death_year  \
0  nm0061671  Mary Ellen Bauder         NaN         NaN
1  nm0061865       Joseph Bauer         NaN         NaN
2  nm0062070         Bruce Baum         NaN         NaN
3  nm0062195       Axel Baumann         NaN         NaN
4  nm0062798        Pete Baxter         NaN         NaN

                                 primary_profession  \
0         miscellaneous,production_manager,producer
1        composer,music_department,sound_department
2                        miscellaneous,actor,writer
3  camera_department,cinematographer,art_department
4  production_designer,art_department,set_decorator

                          known_for_titles
0  tt0837562,tt2398241,tt0844471,tt0118553
1  tt0896534,tt6791238,tt0287072,tt1682940
2  tt1470654,tt0363631,tt0104030,tt0102898
3  tt0114371,tt2004304,tt1618448,tt1224387
4  tt0452644,tt0452692,tt3458030,tt2178256

Birth/Death year doesn't seem to be relevant and have many null columns.
Not yet sure how / if we will use this data

In [9]:
titlebasics = pd.read_csv(fullname[6])
df_summary(titlebasics,6)

print('''Can merge this info on later to gather info. Perhaps do something with adult vs. kid movies?
runtime and genres have lots of missing data''')

This dataset is called imdb.title.basics
It has 146144 rows
and 0 duplicates

Columns present and N/A values are:
tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

Description:
          start_year  runtime_minutes
count  146144.000000    114405.000000
mean     2014.621798        86.187247
std         2.733583       166.360590
min      2010.000000         1.000000
25%      2012.000000        70.000000
50%      2015.000000        87.000000
75%      2017.000000        99.000000
max      2115.000000     51420.000000

Data Preview:
      tconst                    primary_title              original_title  \
0  tt0063540                        Sunghursh                   Sunghursh
1  tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
2  tt0069049       The Other Side of the Wind  The Other Side of the Wind
3  tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
4  tt0100275         The Wandering Soap Opera       La Telenovela Errante

   start_year  runtime_minutes                genres
0        2013            175.0    Action,Crime,Drama
1        2019            114.0       Biography,Drama
2        2018            122.0                 Drama
3        2018              NaN          Comedy,Drama
4        2017             80.0  Comedy,Drama,Fantasy

Can merge this info on later to gather info. Perhaps do something with adult vs. kid movies?
runtime and genres have lots of missing data

In [10]:
budgets = pd.read_csv(fullname[8])
df_summary(budgets,8)

print(''' no missing data! but has limited rows compared to other dfs. shows sales & budget info.''')

This dataset is called tn.movie_budgets
It has 5782 rows
and 0 duplicates

Columns present and N/A values are:
id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

Description:
                id
count  5782.000000
mean     50.372363
std      28.821076
min       1.000000
25%      25.000000
50%      50.000000
75%      75.000000
max     100.000000

Data Preview:
   id  release_date                                        movie  \
0   1  Dec 18, 2009                                       Avatar
1   2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2   3   Jun 7, 2019                                 Dark Phoenix
3   4   May 1, 2015                      Avengers: Age of Ultron
4   5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi

  production_budget domestic_gross worldwide_gross
0      $425,000,000   $760,507,625  $2,776,345,279
1      $410,600,000   $241,063,875  $1,045,663,875
2      $350,000,000    $42,762,350    $149,762,350
3      $330,600,000   $459,005,868  $1,403,013,963
4      $317,000,000   $620,181,382  $1,316,721,747

 no missing data! but has limited rows compared to other dfs. shows sales & budget info.

In [11]:
gross = pd.read_csv(fullname[9])
df_summary(gross,9)

print('''foreign gross has many nulls. simple dataset with title and domestic gross. small dataset''')

This dataset is called bom.movie_gross
It has 3387 rows
and 0 duplicates

Columns present and N/A values are:
title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

Description:
       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

Data Preview:
                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010

foreign gross has many nulls. simple dataset with title and domestic gross. small dataset

In [12]:
cast = pd.read_csv(fullname[10])
df_summary(cast,10)

print('''missing values for job and characters. ties cast to tconst''')

This dataset is called imdb.title.principals
It has 1028186 rows
and 0 duplicates

Columns present and N/A values are:
tconst             0
ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64

Description:
           ordering
count  1.028186e+06
mean   4.739847e+00
std    2.747446e+00
min    1.000000e+00
25%    2.000000e+00
50%    4.000000e+00
75%    7.000000e+00
max    1.000000e+01

Data Preview:
      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

missing values for job and characters. ties cast to tconst

In [13]:
rt = pd.read_csv(fullname[5],sep="\t",encoding= 'unicode_escape')
df_summary(rt,5)


print(''' need to delete duplicate rows . maybe map this to the genre part to see which genres have the highest views. based on ID ''')

This dataset is called rt.reviews
It has 54432 rows
and 9 duplicates

Columns present and N/A values are:
id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

Description:
                 id    top_critic
count  54432.000000  54432.000000
mean    1045.706882      0.240594
std      586.657046      0.427448
min        3.000000      0.000000
25%      542.000000      0.000000
50%     1083.000000      0.000000
75%     1541.000000      0.000000
max     2000.000000      1.000000

Data Preview:
   id                                             review rating   fresh  \
0   3  A distinctly gallows take on contemporary fina...    3/5   fresh
1   3  It's an allegory in search of a meaning that n...    NaN  rotten
2   3  ... life lived in a bubble in financial dealin...    NaN   fresh
3   3  Continuing along a line introduced in last yea...    NaN   fresh
4   3             ... a perverse twist on neorealism...     NaN   fresh

           critic  top_critic         publisher               date
0      PJ Nabarro           0   Patrick Nabarro  November 10, 2018
1  Annalee Newitz           0           io9.com       May 23, 2018
2    Sean Axmaker           0  Stream on Demand    January 4, 2018
3   Daniel Kasman           0              MUBI  November 16, 2017
4             NaN           0      Cinema Scope   October 12, 2017

 need to delete duplicate rows . maybe map this to the genre part to see which genres have the highest views. based on ID

In [14]:
rts = pd.read_csv(fullname[7],sep="\t",encoding= 'unicode_escape')
df_summary(rts,7)

print('''I don't understand how to tie these to the movie title? but it does have genre info.
lots of nulls''')

This dataset is called rt.movie_info
It has 1560 rows
and 0 duplicates

Columns present and N/A values are:
id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

Description:
                id
count  1560.000000
mean   1007.303846
std     579.164527
min       1.000000
25%     504.750000
50%    1007.500000
75%    1503.250000
max    2000.000000

Data Preview:
   id                                           synopsis rating  \
0   1  This gritty, fast-paced, and innovative police...      R
1   3  New York City, not-too-distant-future: Eric Pa...      R
2   5  Illeana Douglas delivers a superb performance ...      R
3   6  Michael Douglas runs afoul of a treacherous su...      R
4   7                                                NaN     NR

                                 genre          director  \
0  Action and Adventure|Classics|Drama  William Friedkin
1    Drama|Science Fiction and Fantasy  David Cronenberg
2    Drama|Musical and Performing Arts    Allison Anders
3           Drama|Mystery and Suspense    Barry Levinson
4                        Drama|Romance    Rodney Bennett

                            writer  theater_date      dvd_date currency  \
0                   Ernest Tidyman   Oct 9, 1971  Sep 25, 2001      NaN
1     David Cronenberg|Don DeLillo  Aug 17, 2012   Jan 1, 2013        $
2                   Allison Anders  Sep 13, 1996  Apr 18, 2000      NaN
3  Paul Attanasio|Michael Crichton   Dec 9, 1994  Aug 27, 1997      NaN
4                     Giles Cooper           NaN           NaN      NaN

  box_office      runtime             studio
0        NaN  104 minutes                NaN
1    600,000  108 minutes  Entertainment One
2        NaN  116 minutes                NaN
3        NaN  128 minutes                NaN
4        NaN  200 minutes                NaN

I don't understand how to tie these to the movie title? but it does have genre info.
lots of nulls

# DATA CLEANING PROCESS

In [24]:
# Merging all IMDB Files 
imdb_movies = pd.merge(ratings, imdb_crew , on='tconst',how = 'outer')
imdb = pd.merge(imdb, cast, on='tconst', how = 'outer')
imdb = pd.merge(imdb, titlebasics, on='tconst', how='outer')
imdb = pd.merge(imdb, people, on='nconst', how='outer')
imdb = pd.merge(imdb, akas, on='tconst', how='outer')

KeyError: 'nconst'

In [16]:
ratings.isna().sum()

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [30]:
# imdb['death_year'].dropna()

# df['Fare'].fillna(df['Fare'].median())

ratings = imdb.loc[~imdb['averagerating'].isnull()]
ratings_dropcols = ['nconst','directors','writers','ordering','job','characters','birth_year','death_year']
cols = [col for col in ratings.columns if col not in ratings_dropcols]
ratings = ratings[cols]
ratings.isna().sum()

len(ratings)

KeyboardInterrupt:

In [18]:
# eventually use this
# pd.plotting.scatter_matrix(df, figsize=(10,10));
genres = ratings.groupby(ratings['genres']).mean()
genres = genres.sort_values(by='averagerating', ascending=False)
genres.isna().sum()


genres

,averagerating,numvotes,start_year,runtime_minutes
genres,,,,
"Comedy,Documentary,Fantasy",9.4,5.0,2015.0,70.0
"Documentary,Family,Musical",9.3,19.0,2017.0,59.0
"History,Sport",9.2,5.0,2016.0,NaN
"Music,Mystery",9.0,5.0,2012.0,NaN
Game-Show,9.0,7.0,2013.0,130.0
...,...,...,...,...
"Crime,Music",2.4,88.0,2018.0,94.0
"History,Sci-Fi,Thriller",2.3,227.0,2017.0,120.0
"Adventure,Crime,Romance",2.3,9.0,2011.0,86.0
"Adult,Horror",2.0,128.0,2015.0,120.0
"Comedy,Musical,Sport",1.4,28.0,2015.0,101.0

# NOTES

- look at directors that are most successful for hiring for original movie. break out 'known for' titles
- look at genres with highest average rating. split genres?
- biggest profit

In [19]:
ratings['genres'] = ratings['genres'].fillna('Unknown')

genres = pd.DataFrame()
genres = pd.concat([ratings,ratings.genres.str.get_dummies(sep=',')],1)

In [20]:
# genres.pivot(index='tconst', columns='', values='')
genres

## remember to remove duplicates

,tconst,averagerating,numvotes,category,primary_title,original_title,start_year,runtime_minutes,genres,primary_name,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Thriller,Unknown,War,Western
0,tt10356526,8.3,31.0,production_designer,Laiye Je Yaarian,Laiye Je Yaarian,2019.0,117.0,Romance,Kazi Rafik Ali,...,0,0,1,0,0,0,0,0,0,0
1,tt9190740,8.3,39.0,production_designer,Bhajjo Veero Ve,Bhajjo Veero Ve,2018.0,125.0,"Comedy,Drama,Romance",Kazi Rafik Ali,...,0,0,1,0,0,0,0,0,0,0
3,tt10356526,8.3,31.0,actor,Laiye Je Yaarian,Laiye Je Yaarian,2019.0,117.0,Romance,Harish Verma,...,0,0,1,0,0,0,0,0,0,0
4,tt7140020,6.4,24.0,actor,Thug Life,Thug Life,2017.0,NaN,Comedy,Harish Verma,...,0,0,0,0,0,0,0,0,0,0
5,tt2832540,6.4,268.0,actor,Daddy Cool Munde Fool,Daddy Cool Munde Fool,2013.0,NaN,"Comedy,Romance",Harish Verma,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751618,tt9886934,7.0,5.0,self,The Projectionist,The Projectionist,2019.0,81.0,Documentary,Nicolas Nicolaou,...,0,0,0,0,0,0,0,0,0,0
751619,tt9894098,6.3,128.0,actress,Sathru,Sathru,2019.0,129.0,Thriller,Neelima,...,0,0,0,0,0,0,1,0,0,0
751620,tt9894098,6.3,128.0,director,Sathru,Sathru,2019.0,129.0,Thriller,Naveen Nanjundan,...,0,0,0,0,0,0,1,0,0,0
751621,tt9894098,6.3,128.0,composer,Sathru,Sathru,2019.0,129.0,Thriller,Amrish,...,0,0,0,0,0,0,1,0,0,0
751622,tt9894098,6.3,128.0,editor,Sathru,Sathru,2019.0,129.0,Thriller,Prasanna,...,0,0,0,0,0,0,1,0,0,0